body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#2c2f33;
  color:white;
}

/* sidebar */

.sidebar{
  width:240px;
  background:#1f2937;
  height:100vh;
  padding:20px;
}

.sidebar h2{
  color:#facc15;
}

.sidebar ul{
  list-style:none;
  padding:0;
}

.sidebar li{
  padding:10px;
  border-radius:6px;
}

.sidebar li:hover{
  background:#374151;
}

/* navbar */

.navbar{
  background:#1e3a8a;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

/* tarjetas */

.card{
  background:#374151;
  padding:20px;
  border-radius:10px;
}

/* tablas */

.table{
  width:100%;
  background:#374151;
  border-collapse:collapse;
}

.table th{
  background:#1e3a8a;
  padding:10px;
}

.table td{
  padding:10px;
}

.table tr:nth-child(even){
  background:#2c2f33;
}

/* botones */

.btn-primary{
  background:#1e3a8a;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:6px;
}

.btn-warning{
  background:#facc15;
  border:none;
  padding:8px 12px;
  border-radius:6px;
}

.btn-danger{
  background:#ef4444;
  border:none;
  padding:8px 12px;
  border-radius:6px;
}
.sidebar{
  width:240px;
  background:#1f2937;
  height:100vh;
  padding:20px;
}

.logo{
  color:#facc15;
  margin-bottom:20px;
}

.menu{
  display:flex;
  flex-direction:column;
  gap:8px;
}

.menu-item{
  display:flex;
  align-items:center;
  gap:10px;
  text-decoration:none;
  color:white;
  padding:10px;
  border-radius:6px;
  background:#374151;
}

.menu-item:hover{
  background:#1e3a8a;
}

.icon{
  color:#facc15;
}
.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#2c2f33;
}

.login-box{
  background:#374151;
  padding:40px;
  border-radius:10px;
  width:300px;
}

.login-box h2{
  color:#facc15;
  text-align:center;
}

.login-box form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.login-box input{
  padding:10px;
  border:none;
  border-radius:6px;
}

.login-box button{
  background:#1e3a8a;
  color:white;
  border:none;
  padding:10px;
  border-radius:6px;
}

.login-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(
    135deg,
    #1f2937,
    #111827
  );
}

.login-box{
  background:#374151;
  padding:40px;
  border-radius:12px;
  width:320px;
  text-align:center;
  box-shadow:0 0 25px rgba(0,0,0,0.4);
}

.login-logo{
  width:150px;
  margin-bottom:20px;
}

.login-box h2{
  color:#facc15;
  margin-bottom:20px;
}

.login-box input{
  width:100%;
  padding:10px;
  margin-bottom:10px;
  border:none;
  border-radius:6px;
}

.login-box button{
  width:100%;
  padding:10px;
  background:#1e3a8a;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.login-box button:hover{
  background:#1d4ed8;
}
.sidebar-logo{
  width:140px;
  margin: 0 auto 20px auto;
  display: block;
  align-items: center;
}
.nevar-logo{
  width:120px;
  display: block;
  margin: 0 auto 20px auto;
}